<div class="container">
	<h2>Профиль</h2>
  <div>Фамилия: <b><%= @doctor.name %></b></div>
  <div>Год рождения: <b><%= @doctor.year %></b></div>
  <div>Должность: <b><%= @doctor.title %></b></div>
  <br/>
  <h4>Список больниц, в которых работает этот доктор</h4>
	<table>
	  <tr>
	    <td>Имя</td>
	    <td>Действие</td>
	  </tr>
	  <% @doctor.has_hospitals.each do |element| %>
	  <tr>
	    <td><%= element.name  %></td>
	    <td><%= link_to "посмотреть", edit_hospital_path(element) %></td>
	  </tr>
	  <% end %>
  </table>
  <hr/>
  <i>Редактировать</i><br/>
  <%= form_for(@doctor) do |f| %>
      <%= f.text_field :name %>
      <%= f.select :year, Doctor::YEARS, class: "form-control" %>
       <%= f.select :title, Doctor::TITLES, class: "form-control" %>
      <%= f.submit "Обновить профиль", :class => "btn" %>
    <% end %> 


  <%= link_to 'К списку больниц', hospitals_path %>
  <%= link_to 'К списку докторов', doctors_path %>
</div>